body{
    background-color:lightskyblue;
    margin:10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.topnav{
    background-color:white;
    overflow:hidden;
    font-family: 'Courier New', Courier, monospace;
    font-weight:1200;
}
.topnav a{
    float:right;
    color:black;
    font-weight: bolder;
    text-align: center;
    padding:14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a :hover{
    background-color: white;
    color:black;
}
.topnav a.active{
    background-color: lightgreen;
    color:white;
}
.school-logo{
    width:20px;
    height:280px;
    border-radius:50%;
}
.school-logo-text{
    color:rgb(88, 88, 252);
    font-family: 'Courier New', Courier, monospace;
}
.slider{
    position:relative;
    width:100%;
    margin: 0 auto;
    max-width:800px;
    overflow: hidden;
}
.slider img{
    width:100%;
    height:auto;
    display:block;
}
.controls{
    position:absolute;
    top:50%;
    width:100%;
    display:flex;
    justify-content:space-between;
}
.controls button{
    background-color: black;
    color:white;
    border:none;
    font-size:1.25rem;
    padding:7px;
    cursor:pointer;
}
.section1{
    text-align:center;
    padding:3rem 1rem;
    background-color:lightblue;
    color:white;
    margin:20px;
    max-width:fit-content
}
.section1 .btn{
    display:inline-block;
    padding:0.75rem 1.5rem;
    background-color:blue;
    color:white;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}
.section1 .btn:hover{
    background-color:darkblue;
}